:root {
    --branco:#FFFFFF;
    --footer: #292925; /*#45453B*/
    --preto: black;
    --amarelo: #FFD700;
    --verde:#6B8E23;
    --bege: #D3D3B9;
}

*{
    box-sizing: border-box;

}

.menu-toggle {
    display: none;
    background-color: var(--footer);
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: var(--footer);
}

@media screen and (min-width: 1361px){
    .no-cel{
        display: none !important;
    }
}

@media screen and (min-width: 756px) and (max-width: 1360px) {
    .menu-toggle {
        display: block;
    }
    
    .menu {
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
    }


    .menu li {
        display: none;
        padding: 10px;
    }

    .menu.open li {
        display: block;
    }

    
    .menu a{
        display: none;
        padding: 10px;
    }

    .menu.open a{
        display: block;
    }


    main h1 {
        font-size: 40px;
        text-align: center;
    }

    main p {
        font-size: 20px;
        text-align: center;
    }

    .fundo-bege{
        height: 1250px !important;
     }
     
    .container-fundo-bege{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

     .no-pc{
         display: none !important;
     }
 
     .container-fundo-hist{
        flex-wrap: wrap !important;
     }

     .fundo-image-hits  {
         display: flex !important;
         justify-content: center !important;
         align-items: center !important;
         width: 100% !important;
         height: 100% !important;
         overflow-x: hidden;
     }
 
     .barra-verde{
         display:  none !important;
     }
 
     .texto-cel {
        display: none !important;
        
     }
 
     .botao-hist a {
         width: 80% !important;
     }

   
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .part1 {
        padding: 6px;
    }

    .part2 {
        padding: 6px;
    }

    .part3 {
        padding: 6px;
    }
}


/* Estilos para telas pequenas (smartphones) */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
    }

    .menu li {
        display: none;
        padding: 10px;
    }

    .menu.open li {
        display: block;
    }

    .menu a{
        display: none;
        padding: 10px;
    }

    .menu.open a{
        display: block;
    }


    .fundo-bege{
       height: 1250px !important;
    }
    
    .no-pc{
        display: none !important;
    }

    .fundo-image-hits  {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
        overflow-x: hidden;
    }

    .barra-verde{
        display:  none !important;
    }

    .texto-cel {
        display: none !important;
    }

    .botao-hist a {
        width: 80% !important;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .part1 {
        padding: 6px;
    }

    .part2 {
        padding: 6px;
    }

    .part3 {
        padding: 6px;
    }


}

